<h1>Service</h1>

<%= image_tag @service.profile_image_url if @service.profile_image_url %>

<ul>
  <li>User: <%= link_to @service.user.human_name, @user %></li>
  <li>Service: <%=h @service.name %></li>
  <li>External ID: <%=h @service.external_id %></li>
  <li>Friends: <%=h @service.friends.count %></li>
</ul>

<%= link_to 'Edit', edit_user_service_path(@user, @service) %>